*.scssc
.DS_Store

# NPM related
npm-debug.log

/node_modules
/gtd.org
/package-lock.json

target
system.properties
.lein-env
env/
figwheel_server.log
.rebel_readline_history

resources/public/js/figwheel-out