body {
    /* font-family: 'Inconsolata', monospace; */
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 24px;
    margin: 0;
    text-align: justify;
}

.content {
    margin: 1% 15%;
    max-width: 1200px;
}

.header-logo {
    width: 100%;
    margin-top: 4%;
    display: block;
}

.date-and-venue {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
}

.nav-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.nav-link {
    font-size: 24px;
    font-family: 'Alegreya Sans SC', sans-serif;
    margin: 0 10px 10px 0;
    color: black;
    padding: 10px 30px;
    background: rgba(0,0,0,0.1);
    text-align: center;
    text-decoration: none;
}

.nav-link:hover {
    background: rgba(0,0,0,0.2);
}

.section {
    margin-bottom: 6%;
}

.section-title {
    font-size: 36px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: bold;
}

.schedule-table {
    width: 100%;
    border: 1px solid;
    padding: 10px;
}

.schedule-table td {
    text-align: left;
}

.schedule-table thead th {
    border-bottom: 1px solid;
    font-family: 'Alegreya Sans SC', sans-serif;
}

.footer {
    height: 100px;
    background-position: bottom;
}

.footer-content {
    margin: 0 15%;
}

.footer .nav-link {
    background-color: rgba(0,0,0,1);
    color: white;
}

.contact-map iframe {
    width: 100%;
}

.speakers .section__content {
    display: flex;
    justify-content: space-around;
}

.speaker-img {
    width: 30%;
    min-width: 180px;
    border: 1px solid;
}

.speaker {
    display: flex;
    align-items: center;
}

.speaker-about {
    margin-left: 4%;
    max-width: 50%;
    text-align: left;
}

.speaker-name {
    font-weight: bold;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 32px;
    margin: 0;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 520px) {
    body {
	text-align: left;
    }

    .content {
	margin: 1% 4%;
	max-width: initial;
    }

    .nav-link {
	width: 100%;
	margin: 10px 0 0;
    }

    .header {
	height: 300px;
    }

    .footer {
	height: 200px;
    }

    .header-content {
	margin: 0;
    }

    .schedule-table td {
    	max-width: 40%;
    	font-size: 20px;
    }

    .schedule-table tr td:nth-child(3),
    .schedule-table tr th:nth-child(3) {
	display: none;
    }

    .schedule-table tr td:nth-child(1),
    .schedule-table tr th:nth-child(1) {
	width: 30%;
    }
}
